@import "tailwindcss";
@import './assets/fonts/fonts.css';

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Extralight.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Extralight.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Light.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Light.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Regular.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Medium.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Medium.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Semibold.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Bold.woff2') format('woff2'),
       url('./assets/fonts/ClashGrotesk-Bold.woff') format('woff'),
       url('./assets/fonts/ClashGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-clash: 'ClashGrotesk';
}

html, body {
  font-family: var(--font-clash);
}

.container {
  @apply mx-auto max-w-[1200px] px-4 md:px-0;
}

